// Variables

// Artemotif Color Palette
$brand-primary-1: #121110;
$brand-primary-2: #faf4e1;
$brand-secondary-1: #ffc922;
$brand-secondary-2: #273be2;
$brand-tertiary: #dd3f2b;

$brand-gradient-1: linear-gradient(103.04deg, $brand-tertiary 10.42%, $brand-secondary-1 100%);
$brand-gradient-2: linear-gradient(103.04deg, $brand-tertiary 10.42%, $brand-secondary-2 100%);

// Neutral Color Palette -> Specific to Artemotif
// $neutral-0: $brand-primary-1
$neutral-1: #1a1815;
$neutral-2: #292723;
$neutral-3: #383631;
$neutral-4: #45433c;
$neutral-5: #615e54;
$neutral-6: #8f8a7c;
$neutral-7: #ada899;
$neutral-8: #c7c1af;
$neutral-9: #d1cbb8;
$neutral-10: #e5dfca;
$neutral-11: #f2ebd5;
// $neutral-12: $brand-primary-2

// Themed color groups & tokens
$light-colors: (
  accent: (
    'primary': $brand-secondary-2,
    'secondary': $brand-tertiary,
    'gradient': $brand-gradient-2
  ),
  neutral: (
    'grey': $neutral-6,
    'grey-2': $neutral-7,
    'grey-3': $neutral-8,
    'grey-4': $neutral-9,
    'grey-5': $neutral-10,
    'grey-6': $neutral-11,
    'grey-7': $neutral-5,
    'grey-8': $neutral-4,
    'grey-9': $neutral-3,
    'grey-10': $neutral-2,
    'grey-11': $neutral-1,
    'white': $brand-primary-2,
    'black': $brand-primary-1
  ),
  background: (
    'primary': $brand-primary-2,
    'secondary': $neutral-11,
    'tertiary': $brand-primary-2
  ),
  text: (
    'primary': $brand-primary-1,
    'secondary': rgba(41, 39, 35, 0.6),
    'tertiary': rgba(41, 39, 35, 0.3),
    'quaternary': rgba(41, 39, 35, 0.18)
  ),
  fill: (
    'primary': rgba(128, 124, 113, 0.2),
    'secondary': rgba(128, 124, 113, 0.16),
    'tertiary': rgba(128, 124, 113, 0.12),
    'quaternary': rgba(128, 124, 113, 0.08)
  ),
  separator: (
    'transparent': rgba(153, 145, 122, 0.3)
  )
);

$dark-colors: (
  accent: (
    'primary': $brand-secondary-1,
    'secondary': $brand-tertiary,
    'gradient': $brand-gradient-1
    ),
  neutral: (
    'grey': $neutral-6,
    'grey-2': $neutral-5,
    'grey-3': $neutral-4,
    'grey-4': $neutral-3,
    'grey-5': $neutral-2,
    'grey-6': $neutral-1,
    'grey-7': $neutral-7,
    'grey-8': $neutral-8,
    'grey-9': $neutral-9,
    'grey-10': $neutral-10,
    'grey-11': $neutral-11,
    'black': $brand-primary-1,
    'white': $brand-primary-2
  ),
  background: (
    'primary': $brand-primary-1,
    'secondary': $neutral-1,
    'tertiary': $neutral-2,
    'quaternary': $neutral-3
  ),
  text: (
    'primary': $brand-primary-2,
    'secondary': rgba(230, 224, 204, 0.6),
    'tertiary': rgba(230, 224, 204, 0.3),
    'quaternary': rgba(230, 224, 204, 0.16)
  ),
  fill: (
    'primary': rgba(128, 124, 113, 0.36),
    'secondary': rgba(128, 124, 113, 0.32),
    'tertiary': rgba(128, 124, 113, 0.24),
    'quaternary': rgba(128, 124, 113, 0.18)
  ),
  separator: (
    'transparent': rgba(51, 50, 49, 0.6)
  )
);

// Mixins

// Register color classes
@mixin register-color-classes($map, $prefix, $var-prefix) {
  @each $name, $value in $map {
    .#{$prefix}-#{$name} {
      color: var(--#{$var-prefix}-#{$name})
    }
  }
}

// Functions

// Generate color classes
@each $group, $tokens in $dark-colors {
  @if $group == 'background' {
    @include register-color-classes($tokens, 'bg', $group);
  } @else if $group == 'text' {
    @include register-color-classes($tokens, 't', $group);
  } @else if $group == 'fill' {
    @include register-color-classes($tokens, 'fill', $group);
  } @else if $group == 'separator' {
    @include register-color-classes($tokens, 'sep', $group);
  } 
}