$light-elevation: (
  'sm': (
    0px 0px 16px -4px rgba(16, 24, 40, 0.08), 
    0px 0px 6px -2px rgba(16, 24, 40, 0.03)
  ),
  'md': (
    0px 0px 24px -4px rgba(16, 24, 40, 0.08), 
    0px 0px 8px -4px rgba(16, 24, 40, 0.03)
  ),
  'lg': 0px 0px 48px -12px rgba(16, 24, 40, 0.18),
  'xl': 0px 0px 64px -12px rgba(16, 24, 40, 0.14)
);

$dark-elevation: (
  'sm': (
    0px 0px 16px -4px rgba(0, 0, 0, 0.04), 
    0px 0px 6px -2px rgba(0, 0, 0, 0.02)
  ),
  'md': (
    0px 0px 24px -4px rgba(0, 0, 0, 0.04), 
    0px 0px 8px -4px rgba(0, 0, 0, 0.02)
  ),
  'lg': 0px 0px 48px -12px rgba(0, 0, 0, 0.08),
  'xl': 0px 0px 64px -12px rgba(0, 0, 0, 0.08)
);

$blur: (
  'sm': blur(4px),
  'md': blur(8px),
  'lg': blur(12px),
  'xl': blur(20px)
);