// Variables

// Themed elevation Stiles
$light-elevation: (
  'sm': (
    0px 1px 3px 1px rgba(173, 168, 153, 0.15),
    0px 1px 2px 0px rgba(173, 168, 153, 0.05),
  ),
  'md': (
    0px 1px 11px 1px rgba(173, 168, 153, 0.15),
    0px 1px 4px -1px rgba(173, 168, 153, 0.05),
  ),
  'lg': 1px 0px 22px -3px rgba(173, 168, 153, 0.3),
  'xl': 1px 0px 38px -3px rgba(173, 168, 153, 0.26),
);

$dark-elevation: (
  'sm': (
    0px 1px 3px 1px rgba(56, 54, 49, 0.3),
    0px 1px 2px 0px rgba(56, 54, 49, 0.1),
  ),
  'md': (
    0px 1px 11px 1px rgba(56, 54, 49, 0.3),
    0px 1px 4px -1px rgba(56, 54, 49, 0.1),
  ),
  'lg': 1px 0px 22px -3px rgba(56, 54, 49, 0.6),
  'xl': 1px 0px 38px -3px rgba(56, 54, 49, 0.5),
);

// Blur Styles
$blur: (
  'sm': blur(4px),
  'md': blur(8px),
  'lg': blur(12px),
  'xl': blur(20px)
);

// Register variables
@mixin light-elevation() {
  @each $name, $value in $light-elevation {
    --shadow-#{$name}: #{$value};
  }
}

@mixin dark-elevation() {
  @each $name, $value in $dark-elevation {
    --shadow-#{$name}: #{$value};
  }
}

@mixin blur() {
  @each $name, $value in $blur {
    --blur-#{$name}: #{$value};
  }
}
