// Variables

// Themed elevation Stiles
$light-elevation: (
  'sm': (
    0px 0px 16px -4px rgba(16, 24, 40, 0.08),
    0px 0px 6px -2px rgba(16, 24, 40, 0.03)
  ),
  'md': (
    0px 0px 24px -4px rgba(16, 24, 40, 0.08),
    0px 0px 8px -4px rgba(16, 24, 40, 0.03)
  ),
  'lg': 0px 0px 48px -12px rgba(16, 24, 40, 0.18),
  'xl': 0px 0px 64px -12px rgba(16, 24, 40, 0.14)
);

$dark-elevation: (
  'sm': (
    0px 0px 16px -4px rgba(0, 0, 0, 0.3), 
    0px 0px 6px -2px rgba(0, 0, 0, 0.15)
  ),
  'md': (
    0px 0px 24px -4px rgba(0, 0, 0, 0.3), 
    0px 0px 8px -4px rgba(0, 0, 0, 0.15)
  ),
  'lg': 0px 0px 48px -12px rgba(0, 0, 0, 0.6),
  'xl': 0px 0px 64px -12px rgba(0, 0, 0, 0.6)
);

// Blur Styles
$blur: (
  'sm': blur(4px),
  'md': blur(8px),
  'lg': blur(12px),
  'xl': blur(20px)
);

// Register variables
@mixin light-elevation() {
  @each $name, $value in $light-elevation {
    --shadow-#{$name}: #{$value};
  }
}

@mixin dark-elevation() {
  @each $name, $value in $dark-elevation {
    --shadow-#{$name}: #{$value};
  }
}

@mixin blur() {
  @each $name, $value in $blur {
    --blur-#{$name}: #{$value};
  }
}
