@use './variables' as *;
@use 'sass:map';

// Themeing
@mixin register-theme-variables($map, $prefix) {
  @each $name, $value in $map {
    --#{$prefix}-#{$name}: #{$value};
  }
}

@mixin register-color-variables($color-map) {
  @each $group, $tokens in $color-map {
    @include register-theme-variables($tokens, $group);
  }
}

@mixin generate-theme($theme-name, $color-map: null, $elevation-map: null, $blur-map: null) {
  .#{$theme-name} {
    // Generate color variables
    @include register-color-variables($color-map);
    
    // Generate elevation variables
    @if $elevation-map != null {
      @include register-theme-variables($elevation-map, 'shadow');
    }
    // Generate blur variables
    @if $blur-map != null {
      @include register-theme-variables($blur-map, 'blur');
    }
  }
}

// Register color classes
@mixin register-color-classes($map, $prefix, $var-prefix) {
  @each $name, $value in $map {
    .#{$prefix}-#{$name} {
      color: var(--#{$var-prefix}-#{$name})
    }
  }
}

// Typography Mixins
@mixin fontStyle($element, $breakpoint: desktop) {
  @if $breakpoint == desktop {
    font-size: map.get($font-sizes-desktop, $element);
    line-height: map.get($line-heights-desktop, $element);
    letter-spacing: map.get($letter-spacings, $element);
  } @else if $breakpoint == tablet {
    font-size: map.get($font-sizes-tablet, $element);
    line-height: map.get($line-heights-tablet, $element);
    letter-spacing: map.get($letter-spacings, $element);
  } @else if $breakpoint == mobile {
    font-size: map.get($font-sizes-mobile, $element);
    line-height: map.get($line-heights-mobile, $element);
    letter-spacing: map.get($letter-spacings, $element);
  }
}

@mixin responsiveFontStyle($element) {
  @media (max-width: $breakpoint-mobile) {
    @include fontStyle($element, mobile);
  }
  @media (min-width: $breakpoint-tablet) and (max-width: #{$breakpoint-desktop - 1px}) {
    @include fontStyle($element, tablet);
  }
  @media (min-width: $breakpoint-desktop) {
    @include fontStyle($element, desktop);
  }
}