@use 'sass:map';

// Variables
$spacing-scale: (
  '0': 0px,
  '4xs': 0.25rem, // 4px
  '3xs': 0.5rem,  // 8px
  '2xs': 0.75rem, // 12px
  'xs': 1rem,     // 16px
  'sm': 1.25rem,  // 20px
  'md': 1.5rem,   // 24px
  'lg': 2rem,     // 32px
  'xl': 2.5rem,   // 40px
  '2xl': 3rem,    // 48px
  '3xl': 4rem,    // 64px
  '4xl': 6.25rem, // 100px
);

// Mixins
@mixin spacing-vars() {
  @each $key, $val in $spacing-scale {
    --space-#{$key}: #{$val};
  }
}

// Spacing
@each $name, $value in $spacing-scale {
  // Margin
  .m-#{$name} { margin: $value; }
  .mt-#{$name} { margin-top: $value; }
  .mr-#{$name} { margin-right: $value; }
  .mb-#{$name} { margin-bottom: $value; }
  .ml-#{$name} { margin-left: $value; }
  .mx-#{$name} { margin-inline: $value; }
  .my-#{$name} { margin-block: $value; }

  // Padding
  .p-#{$name} { padding: $value; }
  .pt-#{$name} { padding-top: $value; }
  .pr-#{$name} { padding-right: $value; }
  .pb-#{$name} { padding-bottom: $value; }
  .pl-#{$name} { padding-left: $value; }
  .px-#{$name} { padding-inline: $value; }
  .py-#{$name} { padding-block: $value; }

  // Gaps
  .gap-#{$name} {
    --row-gap: var(--space-#{$name});
    --column-gap: var(--space-#{$name});
    gap: var(--row-gap) var(--column-gap);
  }

  .gap-x-#{$name} {
    --column-gap: var(--space-#{$name});
    gap: var(--column-gap);
  }

  .gap-y-#{$name} {
    --row-gap: var(--space-#{$name});
    gap: var(--row-gap);
  }
}

// Auto margins
.m-auto { margin: auto; }
.mx-auto { margin-inline: auto; }
.my-auto { margin-block: auto; }

// Functions
@function spacing($key) {
  @return map.get($spacing-scale, $key);
}