@use './breakpoints' as *;
@use 'sass:math';
@use 'sass:list';
@use 'sass:meta';
@use 'sass:map';

// Variables
$font-family: (
  'primary': 'Aspekta Variable, sans-serif',
  'accent': 'Playfair Display, serif'
) !default;

$font-size: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'base': 1rem,
  'md': (1.155rem, 1.333rem),
  'lg': (1.333rem, 1.777rem),
  'xl': (1.777rem, 2.369rem),
  '2xl': (2.052rem, 3.157rem),
  '3xl': (2.369rem, 4.209rem),
  '4xl': (3.157rem, 5.61rem)
) !default;

$font-weight: (
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800
) !default;

$line-height: (
  'xs': 1.1,
  'sm': 1.2,
  'md': 1.3,
  'lg': 1.5
) !default;

$letter-spacing: (
  '0': 0px,
  'xs': -0.25px,
  'sm': -0.2px,
  'md': 0.2px,
  'lg': 0.3px,
  'xl': 0.5px
) !default;

$text-style: (
  'display-lg': ('4xl', 'bold', 'xs', 'xs'),  // size, weight, line-height, tracking
  'display-sm': ('3xl', 'bold', 'sm', 'sm'),
  'headline-lg': ('2xl', 'bold', 'sm', 'sm'),
  'headline-sm': ('xl', 'bold', 'sm', '0'),
  'subheadline-lg': ('lg', 'semi-bold', 'md', '0'),
  'subheadline-sm': ('md', 'semi-bold', 'md', 'md'),
  'body-lg': ('base', 'regular', 'md', 'md'),
  'body-sm': ('xs', 'regular', 'md', 'lg'),
  'label-lg': ('sm', 'regular', 'md', 'xl'),
  'label-sm': ('xs', 'regular', 'md', 'xl')
);

// Register variables
@mixin font-families() {
  @each $name, $value in $font-family {
    --font-#{$name}: #{$value};
  }
}

@mixin fluid-font-sizes() {
  @each $name, $value in $font-size {
    @if meta.type-of($value) == 'list' {
      $min: list.nth($value, 1);
      $max: list.nth($value, 2);
      $min-break: map.get($breakpoints, 'sm');
      $max-break: map.get($breakpoints, 'lg');

      $slope: math.div($max - $min, $max-break - $min-break);
      $y: $slope * 100vw;
      $x: $min - $slope * $min-break;

      --text-#{$name}: clamp(#{$min}, calc(#{$x} + #{$y}), #{$max});
    } @else {
      --text-#{$name}: #{$value};
    }
  }
}

@mixin font-weights() {
  @each $name, $value in $font-weight {
    --font-weight-#{$name}: #{$value};
  }
}

@mixin line-heights() {
  @each $name, $value in $line-height {
    --line-height-#{$name}: #{$value};
  }
}

@mixin letter-spacings() {
  @each $name, $value in $letter-spacing {
    --tracking-#{$name}: #{$value};
  }
}

// Generate classes
@each $name, $value in $text-style {
  $size: list.nth($value, 1);
  $weight: list.nth($value, 2);
  $height: list.nth($value, 3);
  $tracking: list.nth($value, 4);

  .#{$name} {
    font-family: var(--font-primary);
    font-size: var(--text-#{$size});
    font-weight: var(--font-weight-#{$weight});
    line-height: var(--line-height-#{$height});
    letter-spacing: var(--tracking-#{$tracking});
  }
}