// Typography

$primary-font: 'Aspekta Variable';
$accent-font: 'Playfair Display';

// Colors
// Brand Color Palette

$brand-black: #121110; // Chinese Black
$brand-white: #FAF4E1; // Old Lace
$brand-blue: #273BE2; // Palatinate Blue
$brand-yellow: #FFC922; // Sunset Yellow
$brand-red: #DD3F2B; // Fire Fly

$brand-gradient-1: linear-gradient(103.04deg, #DD3F2B 10.42%, #273BE2 100%);
$brand-gradient-2: linear-gradient(103.04deg, #DD3F2B 10.42%, #FFC922 100%);

// Brand Neutrals

$grey-n6: #1A1815;
$grey-n5: #292723;
$grey-n4: #383631;
$grey-n3: #45433C;
$grey-n2: #615E54;
$grey: #8F8A7C;
$grey-2: #ADA899;
$grey-3: #C7C1AF;
$grey-4: #D1CBB8;
$grey-5: #E5DFCA;
$grey-6: #F2EBD5;