// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// COLORS

// Brand Color Palette
$brand-black: #121110; // Chinese Black
$brand-white: #FAF4E1; // Old Lace
$brand-blue: #273BE2; // Palatinate Blue
$brand-yellow: #FFC922; // Sunset Yellow
$brand-red: #DD3F2B; // Fire Fly

$brand-gradient-1: linear-gradient(103.04deg, #DD3F2B 10.42%, #273BE2 100%);
$brand-gradient-2: linear-gradient(103.04deg, #DD3F2B 10.42%, #FFC922 100%);

// Brand Neutrals
$grey-n6: #1A1815;
$grey-n5: #292723;
$grey-n4: #383631;
$grey-n3: #45433C;
$grey-n2: #615E54;
$grey: #8F8A7C;
$grey-2: #ADA899;
$grey-3: #C7C1AF;
$grey-4: #D1CBB8;
$grey-5: #E5DFCA;
$grey-6: #F2EBD5;

// Colors
$light-colors: (
  accent: (
    'primary': $brand-blue,
    'secondary': $brand-red,
    'gradient': $brand-gradient-1
  ),
  neutral: (
    'grey': $grey,
    'grey-2': $grey-2,
    'grey-3': $grey-3,
    'grey-4': $grey-4,
    'grey-5': $grey-5,
    'grey-6': $grey-6,
    'white': $brand-white,
    'black': $brand-black
  ),
  background: (
    'primary': $brand-white,
    'secondary': $grey-6,
    'tertiary': $brand-white
  ),
  text: (
    'primary': $brand-black,
    'secondary': rgba(41, 39, 35, 0.6),
    'tertiary': rgba(41, 39, 35, 0.3),
    'quaternary': rgba(41, 39, 35, 0.18)
  ),
  fill: (
    'primary': rgba(128, 124, 113, 0.2),
    'secondary': rgba(128, 124, 113, 0.16),
    'tertiary': rgba(128, 124, 113, 0.12),
    'quaternary': rgba(128, 124, 113, 0.08)
  ),
  separator: (
    'transparent': rgba(153, 145, 122, 0.3)
  )
);

$dark-colors: (
  accent: (
    'primary': $brand-yellow,
    'secondary': $brand-red,
    'gradient': $brand-gradient-2
    ),
  neutral: (
    'grey': $grey,
    'grey-2': $grey-n2,
    'grey-3': $grey-n3,
    'grey-4': $grey-n4,
    'grey-5': $grey-n5,
    'grey-6': $grey-n6,
    'black': $brand-black,
    'white': $brand-white
  ),
  background: (
    'primary': $brand-black,
    'secondary': $grey-n6,
    'tertiary': $grey-n5,
    'primary-el': $grey-n6,
    'secondary-el': $grey-n5,
    'tertiary-el': $grey-n4
  ),
  text: (
    'primary': $brand-white,
    'secondary': rgba(229, 223, 202, 0.6),
    'tertiary': rgba(229, 223, 202, 0.3),
    'quaternary': rgba(229, 223, 202, 0.16)
  ),
  fill: (
    'primary': rgba(128, 124, 113, 0.36),
    'secondary': rgba(128, 124, 113, 0.32),
    'tertiary': rgba(128, 124, 113, 0.24),
    'quaternary': rgba(128, 124, 113, 0.18)
  ),
  separator: (
    'transparent': rgba(51, 50, 49, 0.6)
  )
);

//Effect Styles
$light-elevation: (
  'sm': (
    0px 0px 16px -4px rgba(16, 24, 40, 0.08), 
    0px 0px 6px -2px rgba(16, 24, 40, 0.03)
  ),
  'md': (
    0px 0px 24px -4px rgba(16, 24, 40, 0.08), 
    0px 0px 8px -4px rgba(16, 24, 40, 0.03)
  ),
  'lg': 0px 0px 48px -12px rgba(16, 24, 40, 0.18),
  'xl': 0px 0px 64px -12px rgba(16, 24, 40, 0.14)
);

$dark-elevation: (
  'sm': (
    0px 0px 16px -4px rgba(0, 0, 0, 0.04), 
    0px 0px 6px -2px rgba(0, 0, 0, 0.02)
  ),
  'md': (
    0px 0px 24px -4px rgba(0, 0, 0, 0.04), 
    0px 0px 8px -4px rgba(0, 0, 0, 0.02)
  ),
  'lg': 0px 0px 48px -12px rgba(0, 0, 0, 0.08),
  'xl': 0px 0px 64px -12px rgba(0, 0, 0, 0.08)
);

$blur: (
  'sm': blur(4px),
  'md': blur(8px),
  'lg': blur(12px),
  'xl': blur(20px)
);

// TYPOGRAPHY

// Font Families
$primary-font: 'Aspekta Variable';
$accent-font: 'Playfair Display';

// Font Styles

// Desktop Font Styles
$font-sizes-desktop: (
  h1: 5.610rem,
  h2: 4.209rem,
  h3: 3.157rem,
  h4: 2.369rem,
  h5: 1.777rem,
  h6: 1.333rem,
  body: 1.000rem,
  t-label: 0.875rem,
  b-small: 0.750rem,
);

$line-heights-desktop: (
  h1: 100px,
  h2: 80px,
  h3: 60px,
  h4: 44px,
  h5: 36px,
  h6: 28px,
  body: 20px,
  t-label: 20px,
  b-small: 16px,
);

// Tablet Font Styles
$font-sizes-tablet: (
  h1: 4.209rem,
  h2: 3.157rem,
  h3: 2.735rem,
  h4: 2.052rem,
  h5: 1.539rem,
  h6: 1.155rem,
  body: 1.000rem,
  t-label: 0.875rem,
  b-small: 0.750rem,
);

$line-heights-tablet: (
  h1: 80px,
  h2: 60px,
  h3: 52px,
  h4: 40px,
  h5: 32px,
  h6: 24px,
  body: 20px,
  t-label: 20px,
  b-small: 16px,
);

// Mobile Font Styles
$font-sizes-mobile: (
  h1: 3.157rem,
  h2: 2.369rem,
  h3: 2.052rem,
  h4: 1.777rem,
  h5: 1.333rem,
  h6: 1.155rem,
  body: 1.000rem,
  t-label: 0.875rem,
  b-small: 0.750rem,
);

$line-heights-mobile: (
  h1: 60px,
  h2: 44px,
  h3: 40px,
  h4: 36px,
  h5: 28px,
  h6: 24px,
  body: 20px,
  t-label: 20px,
  b-small: 16px,
);

// Letter Spacings
$letter-spacings: (
  h1: -0.25px,
  h2: -0.2px,
  h3: -0.2px,
  h4: 0px,
  h5: 0px,
  h6: 0.2px,
  body: 0.2px,
  t-label: 0.3px,
  b-small: 0.3px
);

// Font Weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;