@use '../abstracts/' as *;

// Base
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  border: none;

  padding: spacing('2xs') spacing('md');
  border-radius: radius('full');
}

// Styles
.btn--fill {
  background: var(--inverse-bg-primary);
  color: var(--inverse-text-primary);
}

.btn--outline {
  box-shadow: inset 0 0 0 2px var(--inverse-bg-primary);
  background: transparent;
  color: var(--text-primary);
}

.btn--ghost {
  background: transparent;
  color: var(--text-primary);
}

.btn--tonal {
  background: var(--neutral-grey-5);
  color: var(--accent-primary);
}