@use '../abstracts/' as *;

// Custom sphere cursor
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: radius('full');
  background: #fbf4e0;
  pointer-events: none;
  z-index: 8888;
  mix-blend-mode: difference;
  transform: translate3d(var(--cursor-x, -50%), var(--cursor-y, -50%), 0) scale(1);
  will-change: transform, width, height, opacity;
  //transition: transform .25s cubic-bezier(0, .1, .1, 1);

  &.active {
    transition: transform .25s cubic-bezier(0, .1, .1, 1), width .1s ease-in-out, height .2s ease-in-out, opacity .2s ease-out .1s;
  }

  &.is-pressed {
    transition: transform .25s cubic-bezier(0, .1, .1, 1);
  }

  &.leaving {
    transition: transform .5s cubic-bezier(0, .1, .1, 1), width .1s ease-out, height .2s ease-out, opacity .15s ease-out;
  }
}

// Respect reduce motion
@media (prefers-reduced-motion: reduce) {
  .custom-cursor { transition: none !important; }
}