@use '../abstracts' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--am-bg-primary);
  font-family: --font-primary;
  color: var(--am-text-primary);
}

a, a:visited {
  color: inherit;
}

a {
  text-decoration: underline;
  text-underline-offset: .3rem;
  will-change: color;
  transition: color cubic-bezier(0.05, 0.2, 0.1, 1) .8s;
}

a:hover {
  color: var(--am-accent-primary);
}