// Kit helpers
.kit-fab {
  position: fixed;
  top: 12rem;
  right: 1.5rem;
  padding: 10px;
  box-shadow: var(--shadow-xl);
  z-index: 88;
}

.kit-label {
  text-transform: uppercase;
  font-weight: 600;

  &--primary {
    margin-block: 1px var(--space-4xs);
  }

  &--secondary {
    margin-bottom: 15px;
  }
}

.kit-width--full {
  width: 100%;
}

.kit-swatch {
  width: 160px;
  height: 160px;
  overflow: hidden;

  &--effect,
  &--color {
    position: relative;
    background: var(--am-bg-secondary);
  }
}

.swatch-light {
  background: url(../assets/PNG/swatch-light.png);
}

.swatch-dark {
  background: url(../assets/PNG/swatch-dark.png);
}

.kit-swatch--effect svg path {
  fill: var(--am-inverse-bg-primary);
}

.kit-swatch--effect .shadow,
.kit-swatch--color .color {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: var(--am-bg-secondary);
}

.kit-swatch--color .color-text {
  font-weight: 700;
  font-size: 128px;
}

.kit-swatch--effect .blur {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: var(--am-fill-primary);
}

#shad-1 {
  box-shadow: var(--shadow-sm);
}

#shad-2 {
  box-shadow: var(--shadow-md);
}

#shad-3 {
  box-shadow: var(--shadow-lg);
}

#shad-4 {
  box-shadow: var(--shadow-xl);
}

#blur-1 {
  backdrop-filter: var(--blur-sm);
}

#blur-2 {
  backdrop-filter: var(--blur-md);
}

#blur-3 {
  backdrop-filter: var(--blur-lg);
}

#blur-4 {
  backdrop-filter: var(--blur-xl);
}

#primary {
  background: var(--am-accent-primary);
}

#secondary {
  background: var(--am-accent-secondary);
}

#gradient {
  background: var(--am-accent-gradient);
}

#black {
  background: var(--am-neutral-black);
}

#grey {
  background: var(--am-neutral-grey);
}

#grey-2 {
  background: var(--am-neutral-grey-2);
}

#grey-3 {
  background: var(--am-neutral-grey-3);
}

#grey-4 {
  background: var(--am-neutral-grey-4);
}

#grey-5 {
  background: var(--am-neutral-grey-5);
}

#grey-6 {
  background: var(--am-neutral-grey-6);
}

#white {
  background: var(--am-neutral-white);
}

#bgPrimary {
  background: var(--am-bg-primary);
}

#bgSecondary {
  background: var(--am-bg-secondary);
}

#bgTertiary {
  background: var(--am-bg-tertiary);
}

#bgQuaternary {
  background: var(--am-bg-quaternary);
}

#bgPrimaryInverse {
  background: var(--am-inverse-bg-primary);
}

#bgSecondaryInverse {
  background: var(--am-inverse-bg-secondary);
}

#bgTertiaryInverse {
  background: var(--am-inverse-bg-tertiary);
}

#bgQuaternaryInverse {
  background: var(--am-inverse-bg-quaternary);
}

#txtPrimary {
  color: var(--am-text-primary);
}

#txtSecondary {
  color: var(--am-text-secondary);
}

#txtTertiary {
  color: var(--am-text-tertiary);
}

#txtQuaternary {
  color: var(--am-text-quaternary);
}

#txtPrimaryInverse {
  color: var(--am-inverse-text-primary);
}

#txtSecondaryInverse {
  color: var(--am-inverse-text-secondary);
}

#txtTertiaryInverse {
  color: var(--am-inverse-text-tertiary);
}

#txtQuaternaryInverse {
  color: var(--am-inverse-text-quaternary);
}

#fillPrimary {
  background: var(--am-fill-primary);
}

#fillSecondary {
  background: var(--am-fill-secondary);
}

#fillTertiary {
  background: var(--am-fill-tertiary);
}

#fillQuaternary {
  background: var(--am-fill-quaternary);
}

#separator {
  background: var(--am-separator-transparent);
}